<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Checkout
    </h2>
</section>

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-c">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

                {{#if hasErrors}}
                <br>
                <div class="alert alert-danger">
                    {{# each messages }}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <form action="/checkout" method="post" id="checkout-form">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Checkout
                    </h4>

                    <h4 class="mtext-106 cl2 txt-center p-b-30">Your Total: ${{total}}</h4>
                    <p class="stext-106">Name</p>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="name" name="name" placeholder="Name" required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-user.svg" alt="ICON">
                    </div>
                    <p class="stext-106">Adress</p>
                    <div class="bor8 m-b-30 how-pos4-parent">

                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="address" type="text" name="address" placeholder="Adress" required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-home.svg" alt="ICON">
                    </div>
                    <p class="stext-106">Card Holder Name</p>
                    <div class="bor8 m-b-30 how-pos4-parent">

                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="card-name" type="text" name="card-name" placeholder="Card Holder Name"
                            required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-user.svg" alt="ICON">
                    </div>
                    <p class="stext-106">Credit Card Number (Use: 4242 4242 4242 4242)</p>
                    <div class="bor8 m-b-30 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="card-number" type="text" name="card-number" placeholder="Credit Card Number"
                            required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-lock.svg" alt="ICON">
                    </div>
                    <p class="stext-106">Expiration Month</p>
                    <div class="bor8 m-b-30 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="card-expiry-month" type="text" name="card-expiry-month" placeholder="Expiration Month"
                            required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-link.svg" alt="ICON">
                    </div>
                    <p class="stext-106">Expiration Year</p>
                    <div class="bor8 m-b-30 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="card-expiry-year" type="text" name="card-expiry-year" placeholder="Expiration Year"
                            required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-link.svg" alt="ICON">
                    </div>
                    <p class="stext-106">CVC</p>
                    <div class="bor8 m-b-30 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="card-expiry-year" type="text" name="card-expiry-year" placeholder="CVC Code"
                            required>
                        <img class="how-pos4 pointer-none" src="/images/icons/lnr-briefcase.svg" alt="ICON">
                    </div>
                    <button class="flex-c-m stext-101 cl0 size-116  bor14 hov-btn3 p-lr-15 trans-04 pointer btn btn-success" type="submit">
                        Process Payment
                    </button>
                </form>
            </div>
        </div>
</section>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>